extends layout.pug
block content
    p Sorry! An error happened
    br
    p Please contect the site owner with the error details shown below:
    br
    p error.status
    br
    p error
    br 
    p 
        a(class="button" href="/books") Home
    